/* text style import from https://fonts.google.com/*/
@font-face{
    src: url(../fonts/Montserrat-400\ Regular.ttf);
    font-family: Mont-400;
}
@font-face{
    src: url(../fonts/Montserrat-500\ Medium.ttf);
    font-family: Mont-500;
}
@font-face{
    src: url(../fonts/Oswald-500\ Medium.ttf);
    font-family: Oswald;
}
/* sapņus atbalsta content */
.dream-support-header{
    font-family: Oswald;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 71px;
    letter-spacing: 0em;
    text-align: center;
    color: #2F4858;
    padding-bottom: 60px;
    padding-top: 200px;
}
.dream-support-description{
    font-family: Mont-400;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #2F4858;
}
/*search button*/
.select-box-container{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e7e7e7;
    border-radius: 6px;
}
.select-box-container select{
    width: 100%;
    border: 0;
    background-color: transparent;
    font-size: 18px;
    outline: none;
    font-family: Mont-400 !important;
    font-size: 18px!important;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.015em;
    text-align: left;
    color: #2F4858;
    
}
.select-box-container option{
    background-color: #e7e7e7;
    border-color: #e7e7e7;
    
}
/*maps content*/
.purch-container{
    padding-top: 100px;
}
.maps-content-format-1{
    padding-top: 90px;
}
.maps-content-format-2{
    padding-left: 20%; 
    padding-right: 20%;
}
.maps-font-1{
    font-family: Mont-500;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.015em;
    text-align: left;
    color: #FFA800;
}
.drop-down-maps-button{
    width: 100%;
    height: 43px;
    font-family: Mont-400;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.015em;
    text-align: left;
    color: #2F4858 !important;
    background-color: #e7e7e7 !important;
    border-color: #e7e7e7 !important;
    margin-bottom: 50px;
}
.dropdown-menu{
    background-color: #e7e7e7 !important;
    width: 100%; /* changes drop down menu content width*/
}
.dropdown-toggle::after {
    display: none; /* hides default caret dropdown button icon*/
}
/*ēdināšana content*/
.catering-header{
    font-family: Mont-500;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #2F4858;
}
.catering-description{
    font-family: Mont-400;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    color: #2F4858;
}
.catering-content-format-1{
    padding-left: 15%; 
    padding-right: 15%;
}
/* for tablet devices 991px and bellow */
@media (max-width: 992px) {
    /* Ievads content */
    .dream-support-header{
        font-family: Oswald;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 71px;
        letter-spacing: 0em;
        text-align: center;
        color: #2F4858;
        padding-bottom: 60px;
        padding-top: 200px;
    }
    /*maps content*/
    .maps-content-format-2{
        padding-left: 8%; 
        padding-right: 8%;
    }
}
/* for mobile devices 767px and bellow */
@media (max-width: 767px) {
    /* Ievads content */
    .dream-support-header{
        font-family: Oswald;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 53px;
        letter-spacing: 0em;
        text-align: center;
        padding-bottom: 30px;
        padding-top: 200px;
        margin-left: -10%;
        margin-right: -10%;
    }
    .dream-support-description{
        font-family: Mont-400;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
        color: #2F4858;
        margin-left: -5%;
        margin-right: -5%;
    }
    /*maps content*/
    .maps-content-format{
        padding-top: 80px;
    }
    .maps-content-format-2{
        padding-left: 0%; 
        padding-right: 0%;
    }
    .maps-font-1{
        font-family: Mont-500;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: -0.015em;
        text-align: left;
        color: #FFA800;
    }
    .drop-down-maps-button{
        width: 100%;
        height: 43px;
        font-family: Mont-400;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        text-align: left;
        color: #2F4858 !important;
        background-color: #e7e7e7 !important;
        border-color: #e7e7e7 !important;
        margin-bottom: 50px;
    }
}